---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: auto;">
    <object type="image/svg+xml" 
            data="https://criminal-vivyanne-lucidus-346ca075.koyeb.app/lucidus/card_v1?theme=dark&name=Junyoung%20Park&job=AI%20Researcher%2FSoftware%20Engineer&company=Technology%20R%26D%20Center%2FSBS%20Co.%2CLtd.&address=Seoul%2C%20Korea&about=Make%20anything%20fun%F0%9F%91%8B&email=junia3%40sbs.co.kr&linkedin=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fjunyoung-park-490597344%2F" 
            style="width: 80%; max-width: 600px; height: auto;">
    </object>
  </div>
  {% include loading.html %}
</body>
</html>