---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}
    <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5834956759419182" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/logo.ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/logo.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/logo.ico/favicon-16x16.png">
    <link rel="mask-icon" href="{{site.baseurl}}/assets/logo.ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="description" content="Junyoung Park">
    <meta name="author" content="Junyoung Park">
    <meta property="og:title" content="Junyoung Park" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://junia3.github.io/" />
    <meta property="og:site_name" content="Junyoung Park" />
    <meta property="og:image" content='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}' />
    <meta property="og:description" content="CV">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://junia3.github.io/" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href={{ "/assets/external/skeleton/normalize.css" | prepend: site.baseurl }}>
    <link rel="stylesheet" href={{ "/assets/external/skeleton/skeleton.css" | prepend: site.baseurl }}>

    <link rel="stylesheet" href={{ "/assets/custom/my_css.css" | prepend: site.baseurl }}>
    {% if site.darkmode_switch == true %}
        <link rel="stylesheet" href={{ "/assets/custom/my_css_dark.css" | prepend: site.baseurl }}>
    {% endif %}
    <link rel="stylesheet" href={{ "/assets/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>
    <link rel="stylesheet" href={{ "/assets/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>
    <link rel="stylesheet" href={{ "/assets/external/skeleton_tabs/skeleton-tabs.css" | prepend: site.baseurl }}>
</head>

<body>
    <div class="container">
      <section class="header">
        <div class="row">
          <div class="three columns">
            <a href="{{ site.baseurl }}/"><img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}'></a>
          </div>
          <div class="nine columns main-description">
              <h1>{{ site.data.main_info.name }}</h1>
              <p>{{ site.data.main_info.title }}</p>
              <p>{{ site.data.main_info.email }}</p>
              <p>
                <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </span>
  
                <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </span>
  
                <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
                  <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
                </span>
  
                <span onclick="window.open('{{ site.data.main_info.curriculum_vitae }}')" style="cursor: pointer">
                  <i class="ai ai-cv ai-lg" aria-hidden="true"></i>
                </span>
                {% include toggle.html %}
              </p>
          </div>
        </div>
      </section>
      {{ content}}
      <div class="home_btn" align="center">
        <a href="{{site.url}}{{site.baseurl}}/"
          class="button is-rounded is-outlined is-uppercase has-text-weight-normal", id="btn">Home</a>
        </a>
      </div>
      <div class="footer">
        <div class="row">
          <div class="four columns">
            {{ site.data.main_info.name }}
          </div>
          <div class="four columns">
            <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </span>
            <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
              <i class="fa fa-github" aria-hidden="true"></i>
            </span>
            <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
              <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
            <span onclick="window.open('{{ site.data.main_info.curriculum_vitae }}')" style="cursor: pointer">
              <i class="ai ai-cv ai-lg" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
  
    </div>
    <!-- do not remove -->
    <span id="62cd7b7da1aff3196fdc26b60e396df9"></span>
  </body>
</html>

<script>
  /* 스타일 파일들 */
  const defaultTheme = [...document.styleSheets].find(style => /(my_css.css)$/.test(style.href));
  const darkTheme = [...document.styleSheets].find(style => /(my_css_dark.css)$/.test(style.href));

  /* 스위치, 현재 테마 상태 불러오기 */
  let mode = document.getElementById("darkmode_switch");
  const current = localStorage.theme;

  /* 기존 상태에 따라 스위치 체크해주기 */
  mode.checked = current === 'dark';

  /* 체크된 거에 따라서 스타일 지정해주기 */
  darkTheme.disabled = mode.checked !== true;
  defaultTheme.disabled = mode.checked === true;

  mode.addEventListener('click', function(){
      localStorage.theme = mode.checked ? 'dark' : 'light';
      darkTheme.disabled = mode.checked !== true;
      defaultTheme.disabled = mode.checked === true;
  });

</script>